.viewdesk{
	display: block !important;
}
.viewmobile{
	display: none !important;
}

@media screen and (max-width:800px) {
	.viewdesk{
	    display: none !important;
	}
	.viewmobile{
	    display: block !important;
	}

}

@media screen and (max-width:1100px) {
	.menu__link {
		display: inline-block;
		position: relative;
		font-size: 15px;
		padding: 10px 0;
		color: white;
		text-decoration: none;
		color: white;
		transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
		font-family: GothamPro-Light;
	}

}

