*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: GothamPro-Black;
  src: url('../fonts/GothamPro-Black.ttf') format("opentype");
}
@font-face {
  font-family: GothamPro-Bold;
  src: url('../fonts/GothamPro-Bold.ttf') format("opentype");
}
@font-face {
  font-family: GothamPro-Light;
  src: url('../fonts/GothamPro-Light.ttf') format("opentype");
}
@font-face {
  font-family: GothamPro-Medium;
  src: url('../fonts/GothamPro-Medium.ttf') format("opentype");
}


/* -- menu -- */


.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid #e62730;
  padding: 10px;
  background-color: #fff;
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #e62730;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  background: #e62730;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: #eee9e4;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  transform: translate3d(0, 0, 0);
}
.menu__item {
  transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  width: 343px;
display: block;
text-align: left;
}
.menu__item--active {
  transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 15px 0;
  color: white;
  text-decoration: none;
  color: white;
  font-family: GothamPro-Light;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 10px;
  height: 2px;
  background: white;
  transform: translateX(0%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}
.menu .menu__item:nth-child(7) {
  transition-delay: 0.7s;
}
.menu .menu__item:nth-child(8) {
  transition-delay: 0.8s;
}
.menu .menu__item:nth-child(9) {
  transition-delay: 0.9s;
}
.menu .menu__item:nth-child(10) {
  transition-delay: 1s;
}
.menu .menu__item:nth-child(11) {
  transition-delay: 1.1s;
}
.menu .menu__item:nth-child(12) {
  transition-delay: 1.2s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
.logo {
  width: 200px;
  height: 200px;
  background: #1a1a1a;
  border-radius: 50%;
}
.logomenu{
  width: 200px;
}

/* -- generales -- */

.contergeneral{
  width: 100%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.contergeneral100{
  width: 100%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.conter90{
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.conter90left{
  width: 90%;
  display: block;
  float: left;
}
.conter90right{
  width: 90%;
  display: block;
  float: right;
}
.conter95{
  width: 95%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.conter95left{
  width: 95%;
  display: block;
  float: left;
}
.conter99left{
  width: 99%;
  display: block;
  float: left;
}
.conter95right{
  width: 95%;
  display: block;
  float: right;
}
.conter{
  width: 100%;
  display: block;
  position: relative;
}
.conter2{
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}


.opacity0{
  opacity: 0;
}

.contertitulosec{
  width: 60vw;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: center;
}
.contertitulosecleft{
  width: 60vw;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  z-index: 1;
  text-align: center;
}
.numsection{
  width: 300px;
  display: block;
  margin: 0 auto;
}
.tituloseccion{
  font-family: GothamPro-Bold;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}
p{
  margin: 0;
  padding: 0;
}
.celdatituloseccion{
  width: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
}
.texcenter{
  text-align: center !important;
}
.textcenter{
  text-align: center !important;
}
.textright{
  text-align: right !important;
}
.textleft{
  text-align: left !important;
}
.imgfull{
  width: 100%;
}
.img100px{
  width: 100px;
  display: block;
  margin: 0 auto;
}
.img90{
  width: 90%;
  display: block;
  margin: 0 auto;
}
.img80{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.img70{
  width: 70%;
  display: block;
  margin: 0 auto;
}
.conter30{
  display: block;
  width: 30%;
  float: left;
  position: relative;
}
.conter35{
  display: block;
  width: 35%;
  float: left;
  position: relative;
}
.conter33{
  display: block;
  width: 33.33%;
  float: left;
  position: relative;
}
.conter22{
  display: block;
  width: 22.3%;
  float: left;
  position: relative;
}
.conter50{
  display: block;
  width: 50%;
  float: left;
  position: relative;
}
.conter50center{
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.conter60center{
  display: block;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.conter65center{
  display: block;
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.conter60{
  display: block;
  width: 60%;
  float: left;
}

.conter40{
  display: block;
  width: 40%;
  float: left;
}
.conter45{
  display: block;
  width: 45%;
  float: left;
}
.conter70{
  display: block;
  width: 70%;
  float: left;
}
.conter70center{
  display: block;
  width: 70%;
  margin: 0 auto;
}
.conter80{
  display: block;
  width: 80%;
  float: left;
}
.conter80center{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.conter20{
  display: block;
  width: 20%;
  float: left;
}
.conter21{
  display: block;
  width: 21%;
  float: left;
}
.conter10{
  display: block;
  width: 10%;
  float: left;
}
.conter5{
  display: block;
  width: 5%;
  float: left;
}
.conter15{
  display: block;
  width: 15%;
  float: left;
}
.conter85{
  display: block;
  width: 85%;
  float: left;
}
.conter25{
  display: block;
  width: 25%;
  float: left;
}
.conter24{
  display: block;
  width: 24%;
  float: left;
}

.conterflex{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
}
.texto{
  color: #000;
  font-family: GothamPro-Light;
  font-size: 15px;
}
sub, sup{
  color: #000;
  font-family: GothamPro-Light;
  font-size: 13px !important;
}
.texto2{
  color: #000;
  font-family: GothamPro-Light;
  font-size: 20px;
}
.texto3{
  color: #000;
  font-family: GothamPro-Light;
  font-size: 13px;
}
.texto4{
  color: #000;
  font-family: GothamPro-Light;
  font-size: 14px;
}
.titulo1{
  font-family: GothamPro-Bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
.titulo1a{
  font-family: GothamPro-Bold;
  font-size: 25px;
  color: #fff;
}
.titulo2{
  font-family: GothamPro-Bold;
  font-size: 35px;
  color: #fff;
}
.rojo{
  color: #e62730 !important;
}
.rojo2{
  color: #931831 !important;
}
.rojo3{
  color: #c11728 !important;
}
.cafe{
  color: #d4cbb9 !important;
}
.blanco{
  color: #fff !important;
}
.amarillo{
  color: #fbb800 !important;
}
.amarillo2{
  color: #d6a202 !important;
}
.amarillo3{
  color: #d28d10 !important;
}
.verde{
  color: #4b7735 !important;
}
.gris{
  color: #706f72 !important;
}
.padtop50px{
  padding-top: 50px;
}
.padbop50px{
  padding-bottom: 50px;
}
.pad50px{
  padding: 50px 0px;
}
.padtop20px{
  padding-top: 20px;
}
.padtop10px{
  padding-top: 10px;
}
.padbot20px{
  padding-bottom: 20px;
}
.mar50px{
  margin: 50px 0px;
}
.martop50px{
  margin-top: 50px;
}
.pad20px{
  padding: 20px 0px;
}
.pad5px{
  padding: 5px 0px;
}
.pad10px{
  padding: 10px 0px;
}
.pad30px{
  padding: 30px 0px;
}
.martop20px{
  margin-top: 20px;
}
.margleft35px{
  margin-left: 36px;
}
.backcafe{
  background-color: #f0ece5 !important;
}
.backrojo{
  background-color: #e62730 !important;
}
.multiply{
  mix-blend-mode: multiply; 
}
.medium{
  font-family: GothamPro-Medium;
}
.borblanco{
  border-top: 2px solid #ffffff;
   border-bottom: 2px solid #ffffff;
}
.borightrojo{
  border-right: 2px solid #e62730;
}
.borleftrojo{
  border-left: 2px solid #e62730;
}
.borightblanco{
  border-right: 2px solid #ffffff;
}
.bortoprojo{
  border-top: 2px solid #e62730;
}
.bortopblanco{
  border-top: 2px solid #ffffff;
}
.borbottoncafe{
  border-bottom: 2px solid #d4cbb9;
}
.borrightcafe{
  border-right: 2px solid #d4cbb9;
}
.borrightblanco{
  border-right: 2px solid #ffffff;
}
.hrrojo{
  border-top: 2px solid #e62730;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.hrblanco{
  border-top: 2px solid #ffffff;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 70%;
  display: block;
  margin: 10px auto;

}
.borightblanco{
  border-right: 2px solid #ffffff;
}

.cifrasextragrandes{
  font-family: GothamPro-Bold;
  font-size: 77px;
  text-transform: uppercase;
  color: #fff;
  line-height: 82px;
}
.cifrasgrandes{
  font-family: GothamPro-Bold;
  font-size: 51px; /* 57*/
  text-transform: uppercase;
  color: #fff;
}
.cifrasgrandes2{
  font-family: GothamPro-Bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.cifrasgrandes2bb{
  font-family: GothamPro-Bold;
  font-size: 43px;
  color: #fff;
}
.cifrasmediana{
  font-family: GothamPro-Bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
.cifrasmediana2a{
  font-family: GothamPro-Bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
}
.cifrasmediana3{
  font-family: GothamPro-Bold;
  font-size: 25px;
  color: #fff;
}
.pad20por{
  padding-left: 20%;
}

.pad13por{
  padding-left: 13%;
}
/* -- home -- */

.home1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}

.img1{
  height: 90%;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
.img2{
  width: 100%;
  max-width: 500px;
  position: relative;
  padding-top: 20px;
  display: block;
}
.titulohome{
  font-family: GothamPro-Medium;
  color: #ffffff;
  font-size: 30px;
}
.contertitulohome{
  width: 90%;
  max-width: 500px;
  display: block;
  position: absolute;
  left: 5vw;
  z-index: 1;
}
.logohome{
  width: 90%;
  max-width: 200px;
  position: relative;
  padding-top: 50px;
}
.numport{
  font-family: GothamPro-Bold;
  font-size: 80px;
  color: #d4cbb9;
  padding-left: 15px;
  list-style: 77px;
}
.nombreinfo{
  font-family: GothamPro-Medium;
  color: #ffffff;
  font-size: 23px;
  text-transform: uppercase;
}



/* -- nuestra esencia -- */

.esencia1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.imgese1{
  position: absolute;
  top: 0;
  left: 0vw;
  height: 100vh;
}
.esencia2{
  width:  100%;
  display: block;
  padding: 50px 0px 0px 0px;
}

#esencia1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#esencia1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* -- materialidad -- */

.mat1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.imgmat1{
  position: absolute;
  top: 0;
  right: 0vw;
  height: 100vh;
}
.mat2{
  width:  100%;
  display: block;
  padding: 50px 0px 0px 0px;
  background-color: #f0ece5;
  height: auto;
  min-height: 800px;
  position: relative;
}
.imgmat2{
  width: 100%;
  display: block;
  position: absolute;
  bottom:  0;
}
.contercarrito{
  display: block;
  position: absolute;
  z-index: 2;
  width: 92vw;
  bottom: 7vh;
  left: 3vw;
}
.contertextcarrito{
  width: 90%;
  max-width: 400px;
  display: block;
  margin-left: 10vh;
}
.contertextcarrito2{
  width: 90%;
  max-width: 400px;
  display: block;
  margin-right: 10vh;
  float: right;
}
.circulo{
  display: block;
  width: 10px;
  border-radius: 50px;
  background-color: #e62730;
  padding: 5px;
  float: left;
  margin-right: 10px;
}
.circulo2{
  display: block;
  width: 10px;
  border-radius: 50px;
  background-color: #706f72;
  padding: 5px;
  float: left;
  margin-right: 10px;
}




#mat1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#mat1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/* -- Objetivos de desarrollo -- */

.objetivos1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.imgese1{
  position: absolute;
  top: 0;
  left: 0vw;
  height: 100vh;
}




#objetivos1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#objetivos1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.objetivos2{
  width:  100%;
  display: block;
  padding: 50px 0px;
  background-color: #f0ece5;
  height: auto;
  position: relative;
}

.conterods1{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(226,11,31,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods7{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(251,184,0,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods2{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(214,162,2,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods8{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(147,24,49,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods12{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(210,141,16,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods4{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(193,23,40,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods5{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(229,52,29,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods13{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(75,119,53,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.conterods16{
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 10px;
  background-color: rgba(0,76,132,.12);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  min-height: 140px;
align-content: center;
align-items: center;
height: auto;
}
.ods{
  width: 90px;
  display: block;
  margin: 0 auto;
}
.conterimgods{
  width: 90px;
  display: block;
  float: left;
}
.conterinfoods{
  width: calc(100% - 90px);
  display: block;
  overflow: hidden;
  float: left;
}
.conterimgods2{
  width: 40px;
  display: block;
  float: left;
}
.conterinfoods2{
  width: calc(100% - 40px);
  display: block;
  overflow: hidden;
  float: left;
}


/* -- Nuestra razon de ser -- */

.nues1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
#nues1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#nues1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.nues1a{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.nues2{
  width:  100%;
  display: block;
  padding: 50px 0px 0px 0px;
  height: auto;
  position: relative;
}
.imgmanos{
  width: 100px;
  display: block;
  float: left;
  padding-right: 20px;
}
.frutero{
  width: 100px;
  display: block;
  margin-left: 16%;
}
.monio{
  width: 30px;
  display: block;
  margin-left: 16%;
}
.imgmapa{
  width: 100px;
  display: block;
  float: left;
}
.conter250px{
  width: 90%;
  max-width: 240px;
  display: block;
  margin: 0 auto;
}
.conter137px{
  width: 90%;
  max-width: 137px;
  display: block;
  margin: 0 auto;
}
.conter140px{
  width: 90%;
  max-width: 140px;
  display: block;
  margin: 0 auto;
}




/* -- Nuestro motor -- */

.motor1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.motor2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.contertitulomotor{
  display: block;
  width: auto;
  padding: 20px 25px;
  background-color: #e62730;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px 0px 50px 50px;
  text-align: center;
}
.contertitulomotor2{
  display: block;
  width: 260px;
  padding: 10px 25px;
  background-color: #e62730;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px 0px 50px 50px;
  margin-top: 30px;
}
.contertitulomotor2a{
  display: block;
  width: 260px;
  padding: 10px 25px;
  background-color: #e62730;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px 0px 50px 50px;
}
.contertitulomotor3{
  display: block;
  width: 260px;
  padding: 10px 25px;
  background-color: #e62730;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px 0px 50px 50px;
  margin-top: 10px;
}
.contertitulomotor4{
  display: block;
  width: auto;
  padding: 20px 25px;
  background-color: #ffffff;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px 0px 50px 50px;
}
.motor3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}

.margin1{
  margin: auto;
margin-right: 10px;
}
.margin2{
  margin: auto;
  margin-left: 5px;
}
.grafica1{
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.conterespmotor{
  display: block;
  width: 90%;
  max-width: 265px;
  margin: 0 auto  ;
  overflow: hidden;
}
.conterespmotor2{
  display: block;
  width: 90%;
  max-width: 345px;
  margin: 0 auto  ;
  overflow: hidden;
}
.arcoiris{
  display: block;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}


#motor1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#motor1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/* -- nuestros lideres -- */

.lider1{
  width: 100%;
  display: block;
  overflow: hidden;
  height: auto;
  padding: 50px 0px;
}



/* -- nuestros aliados -- */

.aliados1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}

.aliados2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.aliados3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding: 50px 0px;
}
.aliados4{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}

.padleft65{
  margin-left: 65px;
}
.padleft35{
  margin-left: 35px;
}












#aliados1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#aliados1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/* -- nuestra responsabilidad -- */

.res1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.res2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.met{
  text-align: right;
  padding-left: 90px;
  padding-right: 10px;
}
.met2{
  padding-right: 10px;
}





#res1 a span {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#res1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* -- aoyo a las comunidesdes -- */

.apoyo1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}

.apoyo2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.apoyo3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 50px;
}
.iconcomu{
  width: 55px;
  display: block;
  float: left;
  margin-right: 10px;
}

.apoyo4{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding: 50px 0px;
}
.apoyo4a{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

/* -- voluntariado -- */

.vol1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}
.vol2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.vol3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.vol4{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 50px ;
}
.iconlentes{
  width: 100px;
  display: block;
  float: left;
}
.height235px{
  height: auto;
  min-height: 235px;
}
.vol5{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.vol6{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}

/* -- fundacion heb -- */

.fun1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}

.fun2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding: 50px 0px;
}
.marg100{
  margin-left: 100px;
}

.fun3{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.fun4{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.imgdesta{
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}
.fun5{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 50px;
}

.marg37 {
  margin-left: 37px;
}
.fun6{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.fun7{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 50px;
}
.fun8{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}

/* -- resultados -- */

.resul1{
  width:  100%;
  display: flex;
  height: auto;
  position: relative;
  background-color: #f0ece5 !important;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}
.resul2{
  width:  100%;
  display: block;
  height: auto;
  position: relative;
}
.img40px {
  width: 40px;
  display: block;
  float: left;
  margin-left: 30%;
}
.imglogocolores{
  width: 90%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}








/* -- animaciones -- */

.ani1{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani2{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani3{
  animation: fadeInUp;
  animation-delay: 1.1s;
}



























